<div class="show-main-container">
  <% @list.movies.each do |movie| %>
    <%= render 'show-movie-card', movie: %>
  <% end %>

  <div class="btn btn-primary" data-controller='add-movie-list' data-action="click->add-movie-list#show">Add a movie</div>



</div>
